
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #000000, #a1a5ab);
    
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    outline: none;
    background: #fff;
    color: #333;
    transition: box-shadow 0.3s;
}

input[type="text"]:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

button.submit {
    
    background-color:rgb(75, 77, 79);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    
   
    
    
    
    
}

button.submit:hover {
    background-color: #000000;
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul li {
    font-size: 1.2rem;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

button.delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button.delete:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}
